*{
	margin: 0;
	padding: 0;
	outline: 0;
}
body {background: rgb(255,255,255) url(../../Admin/Archivo_del_administrador/tmp_excel/ImagenEvento.jpg);
      background-repeat: no-repeat;
      background-size:800px 500px;
      background-position: center 120px;

    }

    input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea {
        width: 97%;
        height: 25px;
        margin: 0 0 15px;
        padding: 10px 1%;
        font-size: 18px;

    	-webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    	border-radius: 3px;
    }

    input[type="submit"], input[type="button"], input[type="reset"] {
        display: inline-block;
        background: #2394D5;
        padding: 5px 15px;
        color: #fff;
        border: 0 none;
        font-size: 18px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
    	opacity: .8;
    }

    .main input[type="text"], .main input[type="password"] {
    	text-align: center;
    	border:0;
    }
    .main input[type="submit"] {
        width: 99%;
        margin: 0 auto;
        padding: 13px 0;
    }

    .main{
        width: 30%;
        background-color: rgba(44,62,80,0.7);
        text-align: center;
    	border-radius: 5px;
    	margin: 1% auto 0 auto;
    	padding: 3%;
        position: relative;
    }
