*{margin: 0 ;padding: 0; outline: 0;}


header{
  width:100%;
  overflow: hidden;
  background-color: rgb(44,62,88);
  margin-bottom:  20px;
}

.wrapper{
  width: 90%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;

}

header .logo{
  color:rgb(255,255,255);
  font-size: 30px;
  line-height:0px;
  float: right;
}
header nav{

  line-height: 60px;
}

header nav a{
  display: inline-block;
  color:#fff;
  text-decoration: none;
  padding: 10px 20px;
  line-height:normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition:all 500ms ease;
  -o- transition: all 500ms ease;
  transition:all 500ms ease;
}

/*submenu*/
ul, ol { list-style: none;}

nav .menu > li{
      float: left;
}

nav li a {
  color: #FFF;
  text-decoration: none;
  padding:5PX 10PX;
  display: block;
}

nav li a:hover{
    background:RGB(65, 178, 130);
    border-radius: 50px;
}
nav > li {
  float:left;
}

nav li ul {
  display:none ;
  position: absolute;
  min-width: 122px

}

nav li:hover > ul {
  background-color: rgb(44,62,88);
  border-radius: 10px;
  display: block;
}
